{{ block "header" . }}
<!doctype html>
<html>
	<head>
		<title>киноDB</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/daisyui.css" rel="stylesheet" type="text/css" />
		<script src="/static/js/tailwind.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="navbar bg-base-200">
				<div class="flex-1 ml-5 mr-5">
					<a href="/" class="btn btn-ghost text-xl">киноDB</a>
				</div>
				{{ if .IsUserAuthenticated }}
				{{ with .User }}
				{{ if .IsAdmin }}
				<div class="flex-none mr-5">
					<a href="/admin/titles" class="btn btn-info">Панель администратора</a>
				</div>
				<div class="flex-none mr-5">
					<a href="/admin/create_title" class="btn btn-info">Добавить запись</a>
				</div>
				{{ end }}

				<div class="flex-none dropdown dropdown-end mr-5">
					<div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
						<div class="w-10 rounded-full">
							<img alt="Avatar" src="/static/images/avatar.jpg" />
						</div>
					</div>
					<ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
						<li>
							<a class="justify-between">
								Ваш профиль: {{ .Username }}
							</a>
						</li>
						<li><a href="/logout">Выйти</a></li>
					</ul>
				</div>
				{{ end }}
				{{ else }}
				<a class="btn btn-outline mr-5" href="/signup">Вход/Регистрация</a>
				{{ end }}
			</div>
		</div>
{{ end }}

{{ block "footer" . }}
		<div class="mt-20">
		</div>
	</body>
	{{ template "scripts" . }}
</html>

{{ end }}

{{ block "scripts" . }}
<script>
{{ if .Review }}
document.reviewRating.rating[{{ .Review.Value }} - 1 ].checked = true
{{ end }}

{{ if ne .Title.Id 0}}

var formTitle = document.getElementById('form-title')
if (formTitle != null) {
	formTitle.type_char.value = {{ .Title.TypeChar }}
	formTitle.age_rating.value = "{{ .Title.AgeRatingId }}"
}

{{ end }}

var formSearch = document.getElementById('form-search')
if (formSearch != null) {
	const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
	if (urlParams.has('title_title')) {
		formSearch.title_title.value = urlParams.get('title_title')
	}
	if (urlParams.has('type_char')) {
		formSearch.type_char.value = urlParams.get('type_char')
	}
	if (urlParams.has('order_by')) {
		formSearch.order_by.value = urlParams.get('order_by')
	}
	if (urlParams.has('genre')) {
		formSearch.genre.value = urlParams.get('genre')
	}
}

var formRating = document.getElementById('form-review-rating')
if (formRating != null) {
	var stars = formRating.rating
	for (var i = 0; i < stars.length; i++) {
		stars[i].addEventListener('change', function() {
			document.getElementById('rating-number').textContent = this.value
		});
	}
}

function validateReviewForm() {
	let reviewTitle = formRating["review_title"].value.trim()
	let review = formRating["review"].value.trim()

	if ((reviewTitle == "" && review != "") ||
            (review == "" && reviewTitle != "")) {
		let formValidationError = document.getElementById("form-validation-error")
		formValidationError.removeAttribute("hidden")

		return false
	}

	return true
}
</script>
{{ end }}
