{{ block "index" . }}
{{ template "header" . }}
{{ template "search" . }}

<div class="flex flex-row flex-wrap gap-10 mt-10 ml-10">
	{{ range .Titles }}
	<a href="/title/{{ .Id }}" class="card card-compact w-64 bg-base-100 shadow-xl">
		<figure><img src="/static/images/image{{ .Id }}.jpg" alt="Poster"/></figure>
		<div class="card-body">
			<h2 class="card-title">{{ .Title }}</h2>
			<p class="font-bold">{{ .TranslatedTitle }}</p>
			<p>{{ .Type }} </p>
			<div class="card-actions justify-end mr-2">
				<div class="flex items-center gap-2">
					<div class="mask mask-star-2 bg-orange-400 w-6 h-6"></div>
					<p class="text-base">9.5</p>
				</div>
			</div>

		</div>
	</a>
	{{ end }}
</div>

{{ template "footer" . }}
{{ end }}
