{{ block "search" . }}
		<form id="form-search">
		<div>
			<label class="mt-5 ml-10 mr-10 input input-bordered flex items-center">
				<input type="text" name="title_title" class="grow" placeholder="Поиск..." />
				<button type="submit" class="btn btn-primary">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
				</button>
			</label>
		</div>

		<div class="flex flex-row flex-wrap mt-5 gap-x-4 ml-10">
			<label class="form-control">
				<div class="label">
					<span class="label-text">Тип контента</span>
				</div>
				<select name="type_char" class="select select-bordered">
					<option value="all" >Всё</option>
					<option value="a" >Фильмы</option>
					<option value="d">Сериалы</option>
					<option value="f">Мультсериалы</option>
					<option value="c">Полнометражные мультфильмы</option>
					<option value="e">Аниме сериалы</option>
					<option value="b">Полнометражные аниме</option>
				</select>
			</label>
			<label class="form-control">
				<div class="label">
					<span class="label-text">Сортировать по</span>
				</div>
				<select name="order_by" class="select select-bordered">
					<option value="rating_avg">Рейтингу</option>
					<option value="rating_cnt">Количеству оценок</option>
					<option value="title">Названию</option>
				</select>
			</label>

			<label class="form-control">
				<div class="label">
					<span class="label-text">Отфильтровать по жанрам</span>
				</div>
				<label class="input input-bordered flex items-center">
					<input name="genre" type="text" />
				</label>
			</label>
		</div>
		</form>
{{ end }}


{{ block "index" . }}

{{ template "header" . }}

{{ template "search" . }}

<div class="flex flex-row flex-wrap gap-10 mt-10 ml-10">
	{{ range .Titles }}
	<a href="/title/{{ .Id }}" class="card card-compact w-64 bg-base-100 shadow-xl">
		<figure><img src="/static/images/image{{ .Id }}.jpg" alt="Poster"/></figure>
		<div class="card-body">
			<h2 class="card-title">{{ .Title }}</h2>
			<p class="font-bold">{{ .TranslatedTitle }}</p>
			<p>{{ .Type }} </p>
			<div class="card-actions justify-end mr-2">
				<div class="flex items-center gap-2">
					<div class="mask mask-star-2 bg-orange-400 w-6 h-6"></div>
					<p class="text-base">
						{{ if eq .RatingAvg "0.0" }}
						N/A
						{{ else }}
						{{ .RatingAvg }}
						{{ end }}
					</p>
				</div>
			</div>

		</div>
	</a>
	{{ end }}
</div>

{{ template "footer" . }}
{{ end }}
