{{ block "title" . }}

{{ template "header" . }}

<div class="mt-10">
	<div class="flex flex-row flex-wrap gap-5 justify-center">
		<div class="flex-none w-80">
			<img src="/static/images/image{{ .Title.Id }}.jpg" class="rounded-lg shadow-2xl" />
			<div class="flex ml-4 gap-0.5 shrink rating py-3">
				{{ if ne .Title.RatingAvg "0.0" }}
					{{ range .RatingStars }}
						{{ if . }}
						<input type="radio" name="title-rating-avg" class="mask mask-star-2 bg-orange-400" checked disabled />
						{{ else }}
						<input type="radio" name="title-rating-avg" class="mask mask-star-2 bg-orange-400" disabled/>
						{{ end }}
					{{ end }}
				{{ else }}
					<input type="radio" name="title-rating-avg" class="mask mask-star-2 bg-orange-400" checked disabled />
				{{ end }}
				<p class="ml-2 text-lg">
					{{ if eq .Title.RatingAvg "0.0" }}
					N/A
					{{ else }}
					{{ .Title.RatingAvg }}
					{{ end }}
				</p>
			</div>
			<div class="ml-4">
				<p>Оценок: {{ .Title.RatingCnt }}</p>
				<p>Рецензий: {{ .Title.RatingReviews }}</p>
			</div>
		</div>
		<div class="min-w-80 w-2/4">
			<h1 class="text-5xl font-bold">{{ .Title.Title }}</h1>
			<h2 class="text-2xl font-bold">{{ .Title.TranslatedTitle }}</h2>
			<h3 class="text-2xl py-1">{{ .Title.Type }}</h3>
			<h4 class="text-xl text-red-600">{{ .Title.AgeRating }}</h4>
			<div class="overflow-x-auto">
				<table class="table max-w-96">
					<tbody>
						<tr>
							<td>Дата премьеры</td>
							<td>{{ .Title.PremierDate.Format "02.01.2006" }}</td>
						</tr>
						<tr>
							<td>Страна</td>
							<td>{{ .Title.Country }}</td>
						</tr>
						<tr>
							<td>Жанр</td>
							<td>{{ .Title.Genre }}</td>
						</tr>

						{{ if ne .Title.NumberOfSeasons 0 }}
						<tr>
							<td>Количество сезонов</td>
							<td>{{ .Title.NumberOfSeasons }}</td>
						</tr>
						{{ end }}

						{{ if ne .Title.NumberOfEpisodes 0 }}
						<tr>
							<td>Количество эпизодов</td>
							<td>{{ .Title.NumberOfEpisodes }}</td>
						</tr>
						{{ end }}
						{{ if ne .Title.NumberOfSeasons 0 }}
						<tr>
							<td>Продолжительность серии</td>
							<td>{{ .Title.Duration }}</td>
						</tr>
						{{ else }}
						<tr>
							<td>Продолжительность</td>
							<td>{{ .Title.Duration }}</td>
						</tr>
						{{ end }}
					</tbody>
				</table>
			</div>
			<p class="py-3">{{ .Title.Description }}</p>
		</div>

	</div>

	<div class="flex flex-col justify-center items-center gap-5 ml-5 mr-5 pt-10">
		<div class="w-full max-w-[1200px]">
			{{ if .IsUserAuthenticated }}
			{{ if not .Review }}
			<form id="form-review-rating" name="reviewRating" action="/title/{{ .Title.Id }}" method="POST" onsubmit="return validateReviewForm()">
				<div class="flex flex-row flex-wrap shrink rating">
					<div class="flex flex-row flex-wrap ml-4 gap-0.5 shrink rating py-3">
						<p class="mr-4">Поставить оценку</p>
					</div>

					<div class="flex flex-row flex-wrap ml-4 gap-0.5 shrink rating py-3">
						<input type="radio" value="1" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="2" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="3" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="4" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="5" name="rating" class="mask mask-star-2 bg-orange-400" checked/>
						<input type="radio" value="6" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="7" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="8" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="9" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="10" name="rating" class="mask mask-star-2 bg-orange-400" />
						<p id="rating-number" class="ml-2 text-lg">5</p>
					</div>
				</div>
				<p hidden id="form-validation-error"class="mb-4 text-error">Одно из полей осталось пустым</p>
				<input name="review_title" type="text" placeholder="Заголовок рецензии" class="input input-bordered w-full max-w-xs" />
				<textarea name="review" class="textarea textarea-bordered min-h-[200px] w-full max-w-[1200px] mt-5" placeholder="Оставить рецензию...&#10;Если хотите просто поставить оценку, оставьте заголовок рецензии и это поле пустыми"></textarea>
				<button class="justify-self-end btn btn-outline mt-5">Отправить</button>
			</form>
			{{ else }}
			<form id="form-review-rating" name="reviewRating" action="/title/{{ .Title.Id }}/review_change" method="POST" onsubmit="return validateReviewForm()">
				<div class="flex flex-row flex-wrap shrink rating">
					<div class="flex flex-row flex-wrap ml-4 gap-0.5 shrink rating py-3">
						<p class="mr-4">Поставить оценку</p>
					</div>
					<div class="flex flex-row flex-wrap ml-4 gap-0.5 shrink rating py-3">
						<input type="radio" value="1" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="2" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="3" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="4" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="5" name="rating" class="mask mask-star-2 bg-orange-400" checked/>
						<input type="radio" value="6" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="7" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="8" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="9" name="rating" class="mask mask-star-2 bg-orange-400" />
						<input type="radio" value="10" name="rating" class="mask mask-star-2 bg-orange-400" />
						<p id="rating-number" class="ml-2 text-lg">{{ .Review.Value }}</p>
					</div>
				</div>
				<p hidden id="form-validation-error"class="mb-4 text-error">Одно из полей осталось пустым</p>
				<input name="review_title" type="text" value="{{ .Review.ReviewTitle }}" placeholder="Заголовок рецензии" class="input input-bordered w-full max-w-xs" />
				<textarea name="review" class="textarea textarea-bordered min-h-[200px] w-full max-w-[1200px] mt-5" placeholder="Оставить рецензию...&#10;Если хотите просто поставить оценку, оставьте заголовок рецензии и это поле пустыми">{{ .Review.Review }}</textarea>
				<button class="justify-self-end btn btn-outline mt-5">Изменить</button>
			</form>
			<form action="/title/{{ .Title.Id }}/review_delete" method="POST">
				<button class="justify-self-end btn btn-outline btn-error mt-5">Удалить</button>
			</form>
			{{ end }}
			{{ else }}
				<div class="flex flex-row flex-wrap ml-4 gap-0.5 shrink rating py-3">
					<p class="mr-4">Чтобы поставить оценку или написать рецензию нужно войти или зарегестрироваться</p>
				</div>
				<div class="flex flex-row flex-wrap ml-4 gap-0.5 shrink rating">
					<a class="btn btn-outline" href="/signup">Вход/Регистрация</a>
				</div>
			{{ end }}
		</div>
	</div>
	<div class="flex w-full max-w-[1200px] justify-end">
	</div>


	<div class="flex flex-col justify-center items-center gap-5 ml-5 mr-5 pt-10">
		{{ range .Reviews }}
		<div class="flex-initial card grow w-full max-w-[1200px] bg-base-200 shadow-xl">
			<div class="card-body">
				<h3 class="card-title text-sm">

					<div class="avatar">
						<div class="w-10 rounded-full">
							<img alt="Avatar" src="/static/images/avatar.jpg" />
						</div>
					</div>
					{{ .Username }}
				</h3>

				<h2 class="card-title">
					{{ .ReviewTitle }}
					<div class="mask mask-star-2 bg-orange-400 w-6 h-6"></div>
					<p class="text-base">{{ .Value }}</p>
				</h2>
				{{ .Review }}
				<div class="card-actions justify-end">
				</div>
			</div>
		</div>
		{{ else }}
		<div class="flex-initial grow w-full max-w-[1200px] justify-center">
			Пока рецензий нет.
		</div>

		{{ end }}
	</div>
</div>


{{ template "footer" . }}

{{ end }}
